@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-roboto: "Roboto", sans-serif;
}

#root-container {
    height: 100%;
    margin: 0;
}

/* Transition - Slide */
.slide-up-leave-active {
    transition: all 0.25s ease-out;
}
.slide-up-enter-active {
    transition: all 0.25s ease-out;
    transition-delay: 0.5s;
}
.slide-up-enter-from {
    opacity: 0;
    transform: translateY(25px);
}
.slide-up-leave-to {
    opacity: 0;
    transform: translateY(-25px);
}

/* Transition - Collapse */
.collapse-enter-from, .collapse-leave-to {
  transform: scaleY(0);
}